# Build tasks
invoke>=0.13.0

# Testing
mock
pytest
WebTest
pytest-cov
pytest-django
pytest-pythonpath
django-webtest
tox>=1.5.0
flake8

# ORMs
# TODO: Restore after dropping py27 support
# Django
SQLAlchemy
Flask-SQLAlchemy
peewee>=3.0.0
